.registerformblock{
    width: 50%;
    background-color: silver;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
}

.box-class{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

h2{
    border-bottom: 2px solid black;
    font-size: 24px;
    font-weight: 600;

}

label{
    font-weight: 600;
}

.col-md-12{
    padding-top: 5px;
    padding-bottom: 5px;
}

.button{
   /* text-align: center;
    */
    display: flex;
    justify-content: center;
}


.alert{
    display: none;
}

#image{
    margin-top: 10px;
    box-shadow: 3px 2px 2px 2px gray;
    width: 120px;
    padding: 20px;
    font-weight: 400;
    padding-bottom: 0px;
    height: 35px;
    -webkit-user-select: none;
    user-select: none;
    font-style: italic;
    font-size: x-large;
    border: red 1px solid;
    margin-left: 10px;
    margin-bottom: 10px;
    /* text-decoration:line-through; */
   
     
}
.inline{
    display:inline-block;
}
.refresh{
    margin-left: 50px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .registerformblock{
        width: 100%;
        background-color: silver;
        border: 1px solid silver;
        border-radius: 5px;
        padding: 30px;
        margin: auto;
    }
}