.ab-container{
  background-color: rgb(2, 2, 48);
}
.abMainhead{
  color:#ff7b00;
  font-size: 30px;
}
.main-container-sponser{
  /* background-color: #FEF6E9; */
  background: url('https://madinfluence.com/static/media/test1.7462a894.png');
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 50px;
}
.sponser-container{
  background-color: rgb(2, 2, 48);
  padding:10px;
  width: 65%;
  border-radius: 50px;
}
.sponser-container h1{
  color:#ff7b00;
  font-size: 40px;
  text-align: center;
  padding:30px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
/* .sponser-container h1 span{
  border-bottom:2px solid #ff7b00 ;
} */
.sponser-container h1 span:hover{
  color: white;
}
.sponser-image{
  background-color: white;
  border-radius: 50px;
 margin:0px 40px -70px 40px;
  
}
.event-container-heading h1 {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}

.event-container-heading p {
  font-size: 36px;
  font-weight: lighter;
  line-height: 47px;
  color: rgb(62, 60, 60);
  margin-bottom: 30px;
}

.event-container-heading a {
  background-color: black;
  font-size: 20px;
  color: white;
  padding: 11px;
  text-align: center;
  text-decoration: none;
}

.img-event-container-div {
  background-color: #ff7b00;
  width: 500px;
  height: 500px;
  padding: 50px 20px 45px 0;
}

.img-event-container-div img {
  height: 402px;
  margin-left: -150px;
}

.review-main-container {
  background-color: #ff7b00;
  padding: 30px 0 30px 80px;
  margin:50px  50px;
}

.review-heading {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(2, 2, 48);
  font-family: "Times New Roman", Times, serif;
 
}

.review-container {
  background-color: #f6f8f5;
  padding-bottom:18px;
  border-top-left-radius: 75px;
  /* border-bottom-left-radius: 200px; */
}

.review-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  align-items: center;
  border-radius: 15px;
  padding: 20px 0 20px 0;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card i {
  color: #ff7b00;
  text-decoration: none !important;
}

@media screen and (min-width:562px) and (max-width:768px) {
  .event-container-heading h1 {
    font-size: 70px;
  }
  .sponser-container{
    background-color: rgb(2, 2, 48);
    padding:10px;
    width: 90%;
    border-radius: 50px;
  }
  .card {
    width: 30%;
    align-items: center;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    width: 260px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .card-3 {
    display: none;
  }

  .img-event-container-div img {
    margin-left: -107px;
    width: 340px;
    height: 250px;
  }

  .img-event-container-div {
    background-color: #ff7b00;
    width: 263px;
    height: 325px;
    padding: 40px 40px 40px 0;
  }

  .event-container-heading p {
    font-size: 22px;
    font-weight: lighter;
    line-height: 35px;
    color: rgb(62, 60, 60);
    margin-bottom: 30px;
  }
}

.img-event-div {
  width: 400px;
  height: 450px;
  background-color: red;
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .img-event-container-div img {
    height: 402px;
    margin-left: -184px;
    width: 450px;
    height: 270px;
  }

  .img-event-container-div {
    background-color: #ff7b00;
    width: 300px;
    height: 350px;
    padding: 42px 42px 42px 0;
  }

  .event-container-heading p {
    font-size: 27px;
    font-weight: lighter;
    line-height: 39px;
    color: rgb(62, 60, 60);
    margin-bottom: 30px;
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .sponser-container{
    background-color: rgb(2, 2, 48);
    padding:10px;
    width: 100%;
    border-radius: 50px;
  }
  .event-container-heading {
    text-align: center;
    margin: auto;
  }

  .event-container-heading h1 {
    font-size: 70px;
  }

  .img-event-container-div {
    background-color: #ff7b00;
    width: 300px;
    height: 250px;
    padding: 0;
    margin: auto;
    margin-top: 30px;
  }

  .img-event-container-div img {
    height: 202px;
    width: 250px;
    margin: 25px 0 0px 25px;
  }

  .review-main-container {
    background-color: #ff7b00;
    padding: 0px;
    margin: auto;
    margin-top: 50px;
  }

  .review-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
  }

  .review-container {
    background-color: #ff7b00;
    padding-bottom: 50px;

  }
}