<h2>Contact Us</h2>
<div class="container">
    <div class="main">
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Full Name:</label>
            <input type="text" class="form-control" id="full_name" [(ngModel)]="full_name" placeholder="Full Name" name="full_name">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Mobile No:</label>
            <input type="text" class="form-control" id="mobile_no" [(ngModel)]="mobile_no" placeholder="Enter mobile no" name="mobile_no">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="message" [(ngModel)]="message" name="message" placeholder="Enter message"></textarea>
          </div>
          <button type="submit" (click)="sendContactUsdata()" class="btn">Submit</button>
    </div>
</div>