img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid silver;
    position: relative;
    left: 40%;
 
}

.main{
    width: 70%;
    margin: auto;
    border: 1px solid silver;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
}
.table{
    width: 50%;
    margin: auto;
}
.btn{
    text-align: center;
}